{% extends "base.html" %}

{% block title %}Plataforma de Submissão Acadêmica{% endblock %}

{% block body_class %}page-home{% endblock %}

{% block content %}

  <header class="home__header">
    <h1 class="home__title">Plataforma de Submissão Acadêmica</h1>
    <p class="home__subtitle">Sistema de gerenciamento de trabalhos acadêmicos</p>
  </header>

  <div class="home__cards">

    {# Aluno #}
    <div class="home__card home__card--aluno">
      <div class="home__icon home__icon--aluno">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 3L1 9l11 6 9-4.91V17h2V9L12 3zM5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82z"/>
        </svg>
      </div>
      <p class="home__card-title">Aluno</p>
      <p class="home__card-desc">Submeta seus trabalhos acadêmicos</p>
      <a href="{{ url_for('login_page', perfil='aluno') }}" class="home__btn-login">Fazer Login</a>
    </div>

    {# Avaliador #}
    <div class="home__card home__card--avaliador">
      <div class="home__icon home__icon--avaliador">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1s-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm-2 14l-4-4 1.41-1.41L10 14.17l6.59-6.58L18 9l-8 8z"/>
        </svg>
      </div>
      <p class="home__card-title">Avaliador</p>
      <p class="home__card-desc">Avalie trabalhos acadêmicos e gerencie o sistema</p>
      <a href="{{ url_for('login_page', perfil='avaliador') }}" class="home__btn-login">Fazer Login</a>
    </div>

    {# Administrador #}
    <div class="home__card home__card--admin">
      <div class="home__icon home__icon--admin">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4z"/>
        </svg>
      </div>
      <p class="home__card-title">Administrador</p>
      <p class="home__card-desc">Gerencie usuários e visualize todos os trabalhos</p>
      <a href="{{ url_for('login_page', perfil='admin') }}" class="home__btn-login">Fazer Login</a>
    </div>

  </div>

{% endblock %}